{% extends 'polls/base.html' %}
{% block content %}
	<a class="btn btn-secondary btn-sm" href="{% url 'polls-detail' %}">Back To Polls</a>
	<h2 class="">Avaiable Options</h2>
	<form class="" method="POST">
		{% csrf_token %}
		{% if object_list %}
			{% for question in object.choice_set.all %}
			<div class="">
				<input type="radio" name="radio-poll">
				<label>{{ question.option }}</label>
			</div>
			{% endfor %}
		{% else %}
		<p>NO Polls Avaiable</p>
		{% endif %}	
	</form>
	<a href="#" class="btn btn-primary">Vote</a>
{% endblock content  %}
